<footer class="fixed-bottom z-index-10 d-print-none">
  <div class="py-2 fw-light">
    <div class="container">
      <div class="row align-items-center">
        <p class="text-sm mb-md-0">Built by <a href="mailto:sshervin@bellsouth.net">Scott Shervington</a></p>
      </div>
    </div>
  </div>
</footer>